/* Layout général de l'application */
body {
  background: #f6e4ac83;
  margin: 0;
  /* reset margin */
  padding: 0;
  /* enlever padding global */
  min-height: 100vh;
  /* prend toute la hauteur de la fenêtre */
  font-family: sans-serif;
}

/* Si tu veux centrer ton app dans la page */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}