header {
    text-align: center;
    padding: 20px 0;
    background-color: #75541C;
}

header h1 {
    color: #d4c5aa;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

header p {
    color: #d4c5aa;
    margin: 5px 0 15px 0;
    font-size: 18px;
    font-weight: bold;
}

header nav a {
    color: #d4c5aa;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}

header nav a:hover {
    text-decoration: underline;
}