/* ===== Layout général ===== */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* toujours hauteur totale */
}

.main {
  flex-grow: 1;
  /* prend tout l’espace restant entre Header et Footer */
  display: flex;
  flex-direction: column;
}